@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.wrapper {
    grid-column: 4/10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .news__title {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.wrapper p {
    font-size: 1.2rem;
}

.h1_pink {
    background-color: rgb(245, 164, 155);
    color: white;
}

video {
    width: 100%;
    height: auto;
}

.news__brief {
    margin: 0.6em 0 0.7em;
    position: relative;
}
.news__brief::after, .news__comment::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -0.6em;
    left: 0;
    background-color: lightgray;
}

.news__comment_add {
    width: 100%;
    margin-top: 1.5em;
    position: relative;
}

.news__comment_add_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.news__comment_add input {
    margin-bottom: 1em;
}

.news__comment_add textarea, .news__comment_add input {
    flex: 1 0 auto;
    margin-right: 1.5em;
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    box-sizing: border-box;
    resize: none;
    border: 1px solid gray;
}
.news__comment_add button {
    max-width: 200px;
    border: none;
    padding: 0.3em 0.8em;
    background-color: rgb(112, 128, 144);
    color: white;
    font-size: 1.3rem;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.news__comment_add button:hover {
    background-color: rgb(139, 153, 167);
}
.news__comment_add button:active {
    background-color: rgb(139, 153, 167);
}

.news__comments_wrapper {
    width: 100%;
    height: 100%;
}

.comments__info {
    width: 100%;
    text-align: left;
}

.hidden {
    display: none;
}

.news__comments_wrapper > p {
    font-size: 1.1rem;
    text-align: left;
}

.news__comment {
    margin: 1em 0 0.7em;
    font-size: 1.1rem;
    position: relative;
}

.news__comment_header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.news__comment_delete {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;
    background: none;
    outline: none;
    border: none;
}

.news__comment_delete::before, .news__comment_delete::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    width: 40px;
    height: 2px;
    background: gray;
}

.news__comment_delete::after {
    transform: translateX(-50%) rotate(-45deg);
}

.news__comment_author {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.news__comment_date {
    font-size: 0.9rem;
    color: rgb(150, 150, 150);
}

#scroll_helper {
    height: 250px;
}